var subStringName = function (val) {
    if (!val) {
      return false
    }

    return val.length > 4 ? val.substring(0,4) : val
  }
 
  var toFixedNumber = function (val) { 
    if (!val) { 
      return false 
    } 
 
    return val.toFixed(0) 
  } 
 
  var toDistanceNumber = function (val) { 
    if (!val) { 
      return false 
    } 
    val = val / 1000 
 
    return val.toFixed(2) 
  } 

var toParseFloat = function (val) {
  if (!val) {
    return false
  }
  val = parseFloat(val)

  return val.toFixed(2)
} 
  

// 页面渲染完成后 调用
var down = function (totalSecond,type) {
  // let totalSecond = time - Date.parse(new Date())/1000;
  // 秒数
  var second = totalSecond;

  // 天数位
  var day = Math.floor(second / 3600 / 24);
  var dayStr = day.toString();
  if (dayStr.length == 1) dayStr = '0' + dayStr;


  // 小时位
  var hr = Math.floor((second - day * 3600 * 24) / 3600);
  var hrStr;
  hrStr = hr.toString();
  // if (day > 0) hrStr = (day * 24 + hr).toString();
  // else hrStr = hr.toString();
  if (hrStr.length == 1) hrStr = '0' + hrStr;

  // 分钟位
  var min = Math.floor((second - day * 3600 * 24 - hr * 3600) / 60);
  var minStr = min.toString();
  if (minStr.length == 1) minStr = '0' + minStr;

  // 秒位
  var sec = second - day * 3600 * 24 - hr * 3600 - min * 60;
  var secStr = sec.toString();
  if (secStr.length == 1) secStr = '0' + secStr;

  if (type == "shi") hrStr = hr + (day*24);

  var obj = hrStr+":"+ minStr+":"+  secStr
  return obj;

}

var monthDay = function (timeString) {
  var month = timeString.substring(5,7)
  var monthFloor = Math.floor(month)
  var day = timeString.substring(8,10)
  var dayFloor = Math.floor(day)
  var saveDate = monthFloor + '月' + dayFloor + '日'
  return saveDate
}

var timeString = function (timeString) {
  if (!timeString) {
    return false
  }
  var year = timeString.substring(0,4)
  var yearFloor = Math.floor(year)
  var month = timeString.substring(5,7)
  var monthFloor = Math.floor(month)
  var day = timeString.substring(8,10)
  var dayFloor = Math.floor(day)
  var saveDate = yearFloor + '.' + monthFloor + '.' + dayFloor
  return saveDate
}

var toCoupon = function (val) { 
  if (!val) { 
    return false 
  }
  return (val * 10)
} 


var toNumber = function (val) { 
  if (!val) { 
    return false 
  }
  return Number(val)
} 

var toMathAbs = function (totalPayFee, coinFee) { 
  var num = totalPayFee - coinFee
  return Math.abs(num)
}

var jsondata=function(val){
  return JSON.stringify(val)
}

var judge=function(val){
  if (JSON.stringify(val) != "{}") {
    return true
  }else{
    return false
  }

}

// 根据用户登记id拼接标识图片 ( 注意: 需要和图片路径进行拼接!!! )
var vip_grade = function (grade) {
  switch (grade * 1) { // 把字符串等不确定数据类型转化为数字
    case 1:
      return 2;
    case 2:
      return 3;
    case 3:
      return 4;
    case 4:
      return 5;
    case 5:
      return 6;
    case 12:
      return 1;
    case 11:
      return 'ip';
  }
}

var subStringNameTag = function (val) {
  if (!val) {
    return '';
  }

  return val.length > 3 ? (val.substring(0,3) + '...') : val;
}

var subStringNameTag1 = function (val) {
    if (!val) {
      return '';
    }
  
    return val.length > 12 ? (val.substring(0,12) + '...') : val;
  }

  var subStringNameTag2 = function (val) {
    if (!val) {
      return '';
    }
  
    return val.length > 7 ? (val.substring(0,7) + '...') : val;
  }

  var subStringNameTag3 = function (val) {
    if (!val) {
      return '';
    }
  
    return val.length > 6 ? (val.substring(0,6) + '...') : val;
  }


  var lineFeed = function (val) {
    if (!val) {
      return '';
    }
  
    return val.length >= 4 ? (val.substring(0,2) + '\n' + val.substring(2,4)) : val;
  }

  var toHide = function(array) {
    var mphone = array.substring(0, 3) + '****' + array.substring(7);
    return mphone;
  }

  var formatNumber = function(n){
    n = n.toString()
    return n[1] ? n : '0' + n
  }
  
  var getWeek = function(n){
    switch(n) {
      case 1:
        return '星期一'
      case 2:
        return '星期二'
      case 3:
        return '星期三'
      case 4:
        return '星期四'
      case 5:
        return '星期五'
      case 6:
        return '星期六'
      case 7:
        return '星期日'
    }
  }

  var formatTime = function(time, option) {
    var date = getDate(time)
    var year = date.getFullYear()
    var month = date.getMonth() + 1
    var day = date.getDate()
    var week = date.getDay()
    var hour = date.getHours()
    var minute = date.getMinutes()
    var second = date.getSeconds()

    if (option == 'YY/MM/DD') return [year, month, day].map(formatNumber).join('/')+ ' ' + [hour, minute].map(formatNumber).join(':')
    
    //获取 年月日
    if (option == 'YY-MM-DD') return [year, month, day].map(formatNumber).join('-')
  
    //获取 年月
    if (option == 'YY-MM') return [year, month].map(formatNumber).join('-')
  
    //获取 年
    if (option == 'YY') return [year].map(formatNumber).toString()
  
    //获取 月
    if (option == 'MM') return  [month].map(formatNumber).toString()
  
    //获取 日
    if (option == 'DD') return [day].map(formatNumber).toString()
  
    //获取 年月日 周一 至 周日
    if (option == 'YY-MM-DD Week')  return [year, month, day].map(formatNumber).join('-') + ' ' + getWeek(week)
  
    //获取 月日 周一 至 周日
    if (option == 'MM-DD Week')  return [month, day].map(formatNumber).join('-') + ' ' + getWeek(week)
  
    //获取 周一 至 周日
    if (option == 'Week')  return getWeek(week)
  
    //获取 时分秒
    if (option == 'hh-mm-ss') return [hour, minute, second].map(formatNumber).join(':')
  
    //获取 时分
    if (option == 'hh-mm') return [hour, minute].map(formatNumber).join(':')
  
    //获取 分秒
    if (option == 'mm-dd') return [minute, second].map(formatNumber).join(':')
  
    //获取 时
    if (option == 'hh')  return [hour].map(formatNumber).toString()
  
    //获取 分
    if (option == 'mm')  return [minute].map(formatNumber).toString()
  
    //获取 秒
    if (option == 'ss') return [second].map(formatNumber).toString()
  
    //默认 时分秒 年月日
    return [year, month, day].map(formatNumber).join('-') + ' ' + [hour, minute, second].map(formatNumber).join(':')
  }
  
  var toList= function (val) { 
    var valList = []
    if(val){
      valList = val.split(',')
    }
    return valList
  } 

  module.exports = {
    subStringName: subStringName, 
    toFixedNumber: toFixedNumber, 
    toDistanceNumber: toDistanceNumber,
    toParseFloat: toParseFloat,
    down: down,
    monthDay: monthDay,
    timeString: timeString,
    toCoupon: toCoupon,
    toNumber: toNumber,
    toMathAbs: toMathAbs,
    jsondata: jsondata,
    vip_grade: vip_grade,
    judge: judge,
    subStringNameTag: subStringNameTag,
    subStringNameTag2: subStringNameTag2,
    lineFeed: lineFeed,
    subStringNameTag3: subStringNameTag3,
    toHide: toHide,
    formatTime: formatTime,
    toList: toList
  }